<header id="header" class="fixed-top sticky">
  <div class="scroll-watcher" id="scroll-watcher"></div>
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="index.html">Portfolio</a></h1>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto {{activeHome}}" (click)="setActiveHome()" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto {{activeAbout}}" (click)="setActiveAbout()" href="#about-section" >About</a></li>
        <li><a class="nav-link scrollto {{activeServices}}" (click)="setActiveServices()" href="#services">Services</a></li>
        <li><a class="nav-link scrollto {{activeWork}}" (click)="setActiveWork()" href="#work">Work</a></li>
        <li><a class="nav-link scrollto {{activePortfolio}}" (click)="setActivePortfolio()" href="#portfolio">Portfolio</a></li>
        <li><a class="nav-link scrollto {{activeContact}}" (click)="setActiveContact()" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header>

