/* navbar styling */
.navbar{
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
  background-color: black;
  animation: navbar ease-in-out;
  animation-timeline: scroll(y) ;
}
.navbar.sticky{
  padding: 15px 0;
  background: crimson;
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .logo a span{
  color: crimson;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
  color: #fff;
}
.navbar .menu li{
  list-style: none;
  display: inline-block;
}
.navbar .menu li a{
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
  text-decoration: none;
}


.navbar .menu li a:hover{
  color: crimson;
}
.navbar.sticky .menu li a:hover{
  color: #fff;
}

.menu-btn-active{
  text-decoration: underline !important;
}

/* menu btn styling */
.menu-btn{
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

@keyframes navbar {
  to {background-color: crimson ; opacity: 1}
}

@keyframes scroll-watcher{
  to { scale: 1 1; background-color: crimson}
}
