<!-- ======= Counter Section ======= -->
<!-- <div id="work" class="section-counter paralax-mf bg-image" style="background-image: url(assets/counters-bg.jpg)">

</div>End Counter Section -->
<section class="skills" id="skills">
  <div class="max-width">
      <h2 class="title">My skills</h2>
      <div class="skills-content">
          <div class="column left">
              <div class="text">My creative skills & experiences.</div>
              <p>
                  <!-- <ReadMore> -->
                      • Object-oriented Programming Fundamentals <br/>
                      • Advanced HTML5 <br/>
                      • HTML5 Layout <br/>
                      • HTML5 Forms <br/>
                      • HTML5 and CSS3 <br/>
                      • HTML5 Layout with CSS3 <br/>
                      • HTML5 and Advanced CSS3 <br/>
                      • HTML5 and JavaScript <br/>
                      • HTML Graphics and Canvas <br/>
                      • Advanced Feature of JavaScript, CSS3 and HTML5 <br/>
                      • T-SQL Querying <br/>
                      • Spring boot APIs <br/>
                      • Encapsulation, Polymorphism, and Abstraction <br/>
                      • Interfaces, Lambda Expressions, Collections, and Generics <br/>
                      • Inheritance, Interfaces, Exceptions, and Deployment <br/>
                      • Date/Time API, I/O and File I/O (N/O.2), and Concurrency <br/>
                      • Concurrency, Parallelism, the JDBC API, and Localization<br/>
                      • Classes and Objects <br/>
                      • Methods, Encapsulation, and Conditionals <br/>
                      • Data Manipulation and Inheritance Interfaces, Exceptions, and Deployment<br/>
                  <!-- </ReadMore> -->
              </p>
          </div>
          <div class="column right">
              <div class="bars">
                  <div class="info">
                      <span>HTML</span>
                      <span>90%</span>
                  </div>
                  <div class="line html"></div>
              </div>
              <div class="bars">
                  <div class="info">
                      <span>CSS</span>
                      <span>60%</span>
                  </div>
                  <div class="line css"></div>
              </div>
              <div class="bars">
                  <div class="info">
                      <span>React JS.</span>
                      <span>60%</span>
                  </div>
                  <div class="line css"></div>
              </div>
              <div class="bars">
                  <div class="info">
                      <span>Spring boot</span>
                      <span>60%</span>
                  </div>
                  <div class="line css"></div>
              </div>
              <div class="bars">
                  <div class="info">
                      <span>JavaScript</span>
                      <span>80%</span>
                  </div>
                  <div class="line js"></div>
              </div>
              <div class="bars">
                  <div class="info">
                      <span>Java</span>
                      <span>80%</span>
                  </div>
                  <div class="line java"></div>
              </div>
              <div class="bars">
                  <div class="info">
                      <span>MySQL</span>
                      <span>70%</span>
                  </div>
                  <div class="line mysql"></div>
              </div>
          </div>
      </div>
  </div>
</section>
