<!-- ======= About Section ======= -->
<section class="about" id="about">
  <div class="max-width">
      <h2 class="title">About me</h2>
      <div class="about-content">
          <div class="column left">
              <img src="../../assets/personal_porfolio_image.jpg" alt=""/>
          </div>
          <div class="column right">
              <div class="text">I'm Onthatile and I'm a </div>
              <p>An enthusiastic and knowledgeable young person, I am flexible, resourceful and willing to
                  take full ownership of user problems until they are fully resolved.</p>
              <Button>Download CV</Button>
          </div>
      </div>
  </div>
</section>
<!-- End About Section -->
