<section id="home" class="home" >
  <div class="max-width">
      <div class="home-content">
          <div class="text-1">Hello, my name is</div>
          <div class="text-2">Onthatile Modise</div>
          <div class="text-3">And I'm a</div>
          <ngx-typed-js  [strings]="['Software Engineer','Web Developer', 'IT Systems Specialist']" [loop]="true" [typeSpeed]="100">
            <div class="typing-container">
               <h1 class="typing" style="color: crimson; width: 100%"></h1>
            </div>
          </ngx-typed-js>
          <a href="https://www.linkedin.com/in/onthatile-modise-02bba618b/">Hire me</a>
      </div>
  </div>
</section>

