<!-- ======= Services Section ======= -->
<section class="services" id="services">
  <div class="max-width">
      <h2 class="title">My services</h2>
      <div class="serv-content">
          <div class="card">
              <div class="box">
                  <i class="fas fa-paint-brush"></i>
                  <div class="text">Web Development</div>
                  <p class="p-text"> •	HTML5 and CSS.
                      •	Styling HTML5 and JavaScript.
                      •	Advanced HTML5 and JavaScript.
                      •	More Advanced HTML5 and CSS3.
                      •	Adaptive AI, Graphics, and Animation.
                      •	React.js
                      •	Prime faces and JSX
                  </p>
              </div>
          </div>
          <div class="card">
              <div class="box">
                  <i class="fas fa-chart-line"></i>
                  <div class="text">Systems Support</div>
                  <p class="p-text">Diagnosis of desktop, application, networking and infrastructure issues. Experience of supporting a wide and varied client base. Troubleshooting PC’s, laptops and mobile devices. Providing 1st/2nd line support to users.</p>
              </div>
          </div>
          <div class="card">
              <div class="box">
                  <i class="fas fa-code"></i>
                  <div class="text">Back-end Development</div>
                  <p class="p-text"> •	Developing Secure APIs.
                      •	Object-oriented Programming Fundamentals.
                      •	Microsoft SQL Knowledge.
                      •	Design Principles and Data Manipulation.
                      •	Creating, Optimizing, and Securing Databases.
                      •	Spring boot.
                      •	Docker.
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>
