.services{
  font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* services section styling */
.services, .projects{
  color:#fff;
  background: #111;
  animation: grow 3s ease normal;
  animation-timeline: view();
  animation-range: entry;
}
.services .title::before,
.projects .title::before{
  background: #fff;
}
.services .title::after,
.projects .title::after{
  background: #111;
  content: "what i provide";
}
.services .serv-content .card{
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.services .serv-content .card:hover{
  background: crimson;
}
.services .serv-content .card .box{
  transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
  transform: scale(1.05);
}
.services .serv-content .card i{
  font-size: 50px;
  color: crimson;
  transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
  color: #fff;
}
.services .serv-content .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  color: #fff;
}

.services .serv-content .card .p-text{
  color: #fff;
}

@keyframes grow {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

