<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h1>Contact</h1>
        <p>Holla <b>onthatile76&#64;gmail.com</b></p>
        <p>Comes to I</p>
    </div>

    <div class="list-group shadow">
        <a href="//linkedin.com" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="" width="32" height="32" alt="" class="rounded-circle flex-shrink-0 me-5"/>
            <h2 class="mb-0">LinkedIn</h2>
        </a>

        <a href="//linkedin.com" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="" width="32" height="32" alt="" class="rounded-circle flex-shrink-0 me-5"/>
            <h2 class="mb-0">GitHub</h2>
        </a>

        <a href="//linkedin.com" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="" width="32" height="32" alt="" class="rounded-circle flex-shrink-0 me-5"/>
            <h2 class="mb-0">React Portfolio</h2>
        </a>
    </div>
</div>