<!-- ======= Contact Section ======= -->
<section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(assets/overlay-bg.jpg)">
  <div class="overlay-mf"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contact-mf">
          <div id="contact" class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="title-box-2 pt-4 pt-md-0">
                  <h5 class="title-left">
                    Get in Touch
                  </h5>
                </div>
                <div class="more-info">
                  <p class="lead">
                    Would you like to collaborate or contact me?
                  </p>
                  <ul class="list-ico">
                    <li><span class="bi bi-geo-alt"></span> Fourways, Johannesburg</li>
                    <li><span class="bi bi-phone"></span> 076 257 9588</li>
                    <li><span class="bi bi-envelope"></span> onthatile76&#64;gmail.com</li>
                  </ul>
                </div>
                <div class="socials">
                  <ul>
                    <li><a href=""><span class="ico-circle"><i class="bi bi-facebook"></i></span></a></li>
                    <li><a href=""><span class="ico-circle"><i class="bi bi-instagram"></i></span></a></li>
                    <li><a href=""><span class="ico-circle"><i class="bi bi-twitter"></i></span></a></li>
                    <li><a href=""><span class="ico-circle"><i class="bi bi-linkedin"></i></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
