<!-- ======= Portfolio Section ======= -->
<!-- <section id="portfolio" class="portfolio-mf sect-pt4 route">

</section>End Portfolio Section -->
<section class="projects" id="projects">
  <div class="max-width">
      <h2 class="title">My Projects and Certifications</h2>
      <div class="carousel owl-carousel">
          <div class="card">
              <div class="box">
                  <img src="../../assets/JavaFx.png" alt=""/>
                  <div class="text">JAVA FX</div>
                  <p class="card-p">Java FX applictaion with spring-boot integration.</p>
              </div>
          </div>
          <br/>
          <div class="card">
              <div class="box">
                  <img src="../../assets/N+.png" alt=""/>
                  <div class="text">N+ Certification</div>
                  <p class="card-p">Certificate in Networking from CompTIA.</p>
              </div>
          </div>
          <br/>
          <div class="card">
              <div class="box">
                  <img src="../../assets/A+.png" alt=""/>
                  <div class="text">A+ Certification</div>
                  <p class="card-p">Certificate in A+ Core1 and Core2 from CompTIA</p>
              </div>
          </div>
          <br/>
          <div class="card">
              <div class="box">
                  <img src="../../assets/oca.png" alt=""/>
                  <div class="text">Java SE8 Programmer |</div>
                  <p class="card-p">An Oracle Certified Associate, Java SE 8 Programmer has demonstrated knowledge of
                      object-oriented concepts, the Java programming language and general knowledge of
                      Java platforms and technologies</p>
              </div>
          </div>
          <br/>
          <div class="card">
              <div class="box">
                  <img src="../../assets/banner.gif" alt=""/>
                  <a href="https://github.com/OnthatileModise/">
                      <div class="text">Git Repository</div>
                  </a>
                  <p class="card-p">Take a look at all the projects i have embarked on so far!</p>
              </div>
          </div>
      </div>
  </div>
</section>
