<div class="container">
  <div class="mb-2">
    <div>
      <button class="btn btn-outline-primary mb-2 me-3" (click) = "isCollapse = !isCollapse">Filter</button>
      <button class="btn btn-outline-secondary mb-2" (click)="resetFilters()" [hidden]="!filtering" >Reset Filters</button>
    </div>
     <div [ngbCollapse]="isCollapse" > <!--Add [isAnimated]="true" -->
        <div class="border mb-2 shadow-sm" style="width: 250px;">
            <form>
              <div class="row mx-0">
                <div class="col">
                  <small><b>Langauges : </b></small>
                  <div class="form-group">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input position-static me-2" [(ngModel)]="typeScript" (change)="filter()" name="TypeScript">
                      <label class="form-check-label small">TypeScript</label>
                    </div>
                </div>
                </div>

                <div class="col">
                  <small><b>Frame Works : </b></small>
                  <div class="form-group">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input position-static me-2" [(ngModel)]="angular" (change)="filter()" name="Angular">
                      <label class="form-check-label small">Angular</label>
                    </div>
                </div>
                </div>
              </div>
            </form>
        </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let project of projects" class="col-lg-4 mb-4" style="max-width: 380px; min-width: 300px">
        <app-project-card [project]="project"></app-project-card>
    </div>
  </div>
</div>
