@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}

.max-width{
  max-width: 100%;
  padding: 0 80px;
  margin: auto;
}

/* all similar content styling codes */
section{
  padding: 100px 0;
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.about, .services, .skills, .projects, .contact, footer{
  font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}
section .title::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
section .title::after{
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

@media (max-width: 1104px) {
  .about .about-content .left img{
    height: 350px !important;
    width: 350px !important;
  }

  .home{
    width: 113% !important;
  }

  .about{
    width: 113% !important;
  }

  .services{
    width: 113% !important;
  }

  .skills{
    width: 113% !important;
  }

  .projects{
    width: 113% !important;
  }

  .contact{
    width: 113% !important;
  }

  .footer{
    width: 113% !important;
  }
}

@media (max-width: 991px) {
  .max-width{
    padding: 0 50px !important;
  }
}
@media (max-width: 947px){
  .menu-btn{
    display: block !important;
    z-index: 999 !important;
  }
  .menu-btn i.active:before{
    content: "\f00d" !important;
  }
  .navbar .menu{
    position: fixed !important;
    height: 100vh !important;
    width: 100% !important;
    left: -100% !important;
    top: 0 !important;
    background: #111 !important;
    text-align: center !important;
    padding-top: 80px !important;
    transition: all 0.3s ease !important;
  }
  .navbar .menu.active{
    left: 0 !important;
  }
  .navbar .menu li{
    display: block !important;
  }
  .navbar .menu li a{
    display: inline-block !important;
    margin: 20px 0 !important;
    font-size: 25px !important;
  }
  .home .home-content .text-2{
    font-size: 70px !important;
  }
  .home .home-content .text-3{
    font-size: 35px !important;
  }
  .home .home-content a{
    font-size: 23px !important
    ;
    padding: 10px 30px !important;
  }
  .max-width{
    max-width: 930px !important;
  }
  .about .about-content .column{
    width: 100% !important;
  }
  .about .about-content .left{
    display: flex !important;
    justify-content: center !important;
    margin: 0 auto 60px !important;
  }
  .about .about-content .right{
    flex: 100% !important;
  }
  .services .serv-content .card{
    width: calc(50% - 10px) !important;
    margin-bottom: 20px !important;
  }
  .skills .skills-content .column,
  .contact .contact-content .column{
    width: 100% !important;
    margin-bottom: 35px !important;
  }
}

@media (max-width: 690px) {
  .max-width{
    padding: 0 23px !important;
  }
  .home .home-content .text-2{
    font-size: 60px !important;
  }
  .home .home-content .text-3{
    font-size: 32px !important;
  }
  .home .home-content a{
    font-size: 20px !important;
  }
  .services .serv-content .card{
    width: 100% !important;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2{
    font-size: 50px !important;
  }
  .home .home-content .text-3{
    font-size: 27px !important;
  }
  .about .about-content .right .text,
  .skills .skills-content .left .text{
    font-size: 19px !important;
  }
  .contact .right form .fields{
    flex-direction: column !important;
  }
  .contact .right form .name,
  .contact .right form .email{
    margin: 0 !important;
  }
  .right form .error-box{
    width: 150px !important;
  }
  .scroll-up-btn{
    right: 15px !important;
    bottom: 15px !important;
    height: 38px !important;
    width: 35px !important;
    font-size: 23px !important;
    line-height: 38px !important;
  }
}

.typed-cursor{
  display: none !important;;
}

.typed-cursor.typed-cursor--blink{
  animation: none !important;
}

.typing-container{
  height: 65px !important;
}
